{% extends 'base.html' %}

{% block content %}

  <form>
	{% csrf_token %}
	<div class = "main-block-p">
		<div class = main-block-c>
			<div class = "container">
				<div class = "select-field-from" >
					<select id = "id_select_field_from">
						<option disabled selected>Выберите язык</option>
						<option value = "ru">Русский</option>
						<option value = "en">Английский</option>
						<option value = "ch">Чешский</option>
						<option value = "h">Немецкий</option>
						<option value = "f">Французский</option>
					</select>
					<textarea placeholder = "Введите текст..." id = "id_input_field"></textarea>
				</div>
			</div>
			<div class="container">
				<div class = "select-field-to">
					<select id = "id_select_field_to">
						<option disabled selected>Выберите язык</option>
						<option value = "ru">Русский</option>
						<option value = "en">Английский</option>
						<option value = "ch">Чешский</option>
						<option value = "h">Немецкий</option>
						<option value = "f">Французский</option>
					</select>
					<textarea id="output"></textarea>
				</div>
			</div>
		</div>
	</div>
	<div class="about"> 
		<h1>О создателях</h1>
		<div class = "Dima">
			<h2>Дмитрий Глобин</h2>
			<ul>
				<li>AI researcher</li>
				<li>Python</li>
			</ul>
		</div>
		<div class = "Grisha">
			<h2>Григорий Витер</h2>
			<ul>
				<li>Backend-developer</li>
				<li>Python, Django</li>
			</ul>
		</div>
		<div class = Misha>
			<h2>Михаил Мандра</h2>
			<ul>
				<li>Frontend-developer</li>
				<li>HTML, css</li>
			</ul>
		</div>
	</div>
  </form>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
	$(document).ready(function() {
	  $('form').on('keyup', function()  {
		var input_data = $('#id_input_field').val();
		var select_data_to = $('#id_select_field_to').val();
		var select_data_from = $('#id_select_field_from').val();
		$.ajax({
		  url: '/ajax_request/',
		  type: 'POST',
		  data: {
			'input_data': input_data,
			'select_data_to': select_data_to,
			'select_data_from': select_data_from,
			'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
		  },
		  dataType: 'json',
		  success: function(data) {
			$('#output').val(data.content.output_data);
		  }
		});
		
	  });
	});
  </script>

{% endblock %}

